ListenAddress 127.0.0.1
Port 2222
Ciphers aes256-ctr,aes256-cbc
KexAlgorithms ecdh-sha2-nistp521
MACs hmac-sha2-512
MaxAuthTries 3
MaxStartups 3:50:6
LoginGraceTime 30
PermitRootLogin without-password
StrictModes yes
PubkeyAuthentication yes
HostbasedAuthentication no
PasswordAuthentication no
ChallengeResponseAuthentication no
ClientAliveInterval 300
ClientAliveCountMax 0
HostKey /ssh_host_ecdsa_key
PidFile /run/sshd.pid
AllowUsers root
